{% load i18n %}

{% autoescape off %}
{% trans 'Выполучили этот e-mail, т.к. запросили сброс пароля для вашего аккаунта на' %} {{ site_name }}.
{% trans 'Проследуйте по ссылке ниже и выберите новый пароль:' %}

{% block reset_link %}
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans 'Ваше имя пользователя:' %} {{ user.username }}

{% trans 'Спасибо, что пользуетесь нашим сайтом!' %}

The {{ site_name }} {% trans 'команда' %}.

{% endautoescape %}
