{% load static bootstrap5 %}
<!doctype html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "plugins/bootstrap-5.2.0-dist/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "plugins/fontawesome-free-6.1.2-web/css/all.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    {% block stylesheet %}{% endblock %}
        <script src={% static "plugins/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js" %}></script>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    {% block jsscript %}{% endblock %}

</head>
{% endblock %}

<body>
{% include 'link/nav.html' %}

 <div class="row">
    <div class="col"></div>
        <div class="col-6">
            <div class="jumbotron">

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
        <span class="fas fa-bullhorn me-1"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
  </div>
</div>
{% endfor %}
    </ul>
 {% endif %}
                <div class="container-md">
        {% block content %}
        {% endblock %}
                </div>
            </div>
        </div>
    <div class="col"></div>
 </div>

</body>
<footer>
{% include 'link/footer.html' %}
</footer>
</html>


