{% load i18n  static %}

<!doctype html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "plugins/font-awesome-4.7.0/css/font-awesome.css" %}" />

    <script src={% static "JS/adaptive_nav_menu.js" %}></script>

</head>
{% endblock %}

<body>
<div class="topnav" id="myTopnav">
    <a href="{% url 'main' %}" class="active">Main</a>
    <a href="/admin">Admin</a>
    <a href="{% url 'main'  %}">Login</a>
    <a href="{% url 'main'  %}">Register</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
        {% block content %}
        {% endblock %}
</body>
</html>