{% extends 'link/base.html' %}
{% load i18n static %}

{% block title %}
{{ title }}
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block jsscript %}
    <script type="text/javascript" charset="utf8" src="{% static 'JS/table_dashboard.js' %}"></script>
{% endblock %}

{% block content %}


    <div id="dataJson" style="display:none">
        {{ data }}
    </div>


    <h1>{% translate 'Личный кабинет' %}</h1>

    {% if urls %}
        <p>{% translate 'Привет' %} {{ user }}, {% translate 'здесь ты можешь упралять страничками' %}</p>
    {% else %}
        <p><a href={% url 'main' %}>Create</a> your first link</p>
    {% endif %}

    <br>

<table id="table_db" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>{% translate 'Имя' %}</th>
      <th>{% translate 'Внести изменения' %}</th>
      <th>{% translate 'Удаление' %}</th>
      <th>{% translate 'Дата создания' %}</th>
    </tr>
  </thead>
  <tbody>
{#    {% for url in page_obj %}#}  <!-- for django pagination -->
        {% for url in urls %}

    <tr>
{#      <th scope="row">{{ urls.start_index|add:forloop.counter0 }}</th>#} <!-- for django pagination -->
      <td> </td>
      <td> {{ forloop.counter }}</td>
      <td><a href={% url 'link' url_short=url.URL_short %}>{{ url.name }}</a></td>
      <td><a href={% url 'link_edit' url_short=url.URL_short %}>{% translate 'изменить' %}</a></td>
      <td><a href={% url 'link_delete' url_short=url.URL_short %}>{% translate 'удалить' %}</a></td>
      <td>{{ url.data|date:"Y/m/d" }}</td>
    </tr>

     {% endfor %}

  </tbody>
</table>


<!-- for checking JS on load -->
{#    <script>#}
{#    window.onload = function() {#}
{#        if (window.jQuery) {#}
{#            // jQuery is loaded#}
{#            alert("Yeah!");#}
{#        } else {#}
{#            // jQuery is not loaded#}
{#            alert("Doesn't Work");#}
{#        }#}
{#    }#}
{#     </script>#}



{#{% include 'registration/pagination.html' %}#} <!-- for django pagination -->
{% endblock %}


