{#tuturial     https://django-rest-framework-datatables.readthedocs.io/en/0.5.2/tutorial.html     #}
{% extends 'link/base.html' %}
{% load i18n static %}

{% block title %}
{{ title }}
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block jsscript %}

    <script src={% static "JS/table_dashboard_server.js" %}></script>
    <script type="text/javascript">
        // translations for datatables
        var dt_language = {
            "emptyTable":     "{% trans "No data available in table" %}",
            "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
            "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
            "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
            "loadingRecords": "{% trans "Loading..." %}",
            "processing":     "{% trans "Processing..." %}",
            "search":         "{% trans "Search:" %}",
            "zeroRecords":    "{% trans "No matching records found" %}",
            "paginate": {
                "first":      "{% trans "First" %}",
                "last":       "{% trans "Last" %}",
                "next":       "{% trans "Next" %}",
                "previous":   "{% trans "Previous" %}"
            },
            "aria": {
                "sortAscending":  "{% trans ": activate to sort column ascending" %}",
                "sortDescending": "{% trans ": activate to sort column descending" %}"
            }
        }
    </script>
{% endblock %}

{% block content %}

    <h1>{% translate 'Личный кабинет' %}</h1>
    {% if urls %}
        <p>{% translate 'Привет' %} {{ user }}, {% translate 'здесь ты можешь упралять страничками' %}</p>
    {% else %}
        <p><a href={% url 'main' %}>Create</a> your first link</p>
    {% endif %}
    <br>
<button id="btn-show-all-children" type="button" class="btn btn-sm">Expand All</button>
<button id="btn-hide-all-children" type="button" class="btn btn-sm">Collapse All</button>
    <hr>
<table id="table_db" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>{% translate 'Имя' %}</th>
      <th>{% translate 'Внести изменения' %}</th>
      <th>{% translate 'Удаление' %}</th>
      <th>{% translate 'Дата создания' %}</th>
      <th>{% translate 'Ссылки' %}</th>
    </tr>
  </thead>
</table>

<hr>
    {% translate 'Если что-то не так, попробуйте'%} <a href={% url 'dashboard' %}>front-side</a>.

{% endblock %}


