{% extends 'link/base.html' %}
{% load i18n static %}

{% block title %}
{{ title }}
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block jsscript %}

{% endblock %}

{% block content %}
    <h1>{% translate 'Личный кабинет' %}</h1>
    {% if urls %}
        <p>{% translate 'Привет' %} {{ user }}, {% translate 'здесь ты можешь упралять страничками' %}</p>
    {% else %}
        <p><a href={% url 'main' %}>Create</a> your first link</p>
    {% endif %}
    <br>
<button id="btn-show-all-children" type="button" class="btn btn-sm">Expand All</button>
<button id="btn-hide-all-children" type="button" class="btn btn-sm">Collapse All</button>
    <hr>
<table id="table_db" class="table table-hover" style="width:100%" data-server-side="true" data-ajax="/api/urllist/?format=datatables">
  <thead>
    <tr>

      <th>{% translate 'Имя' %}</th>
      <th>{% translate 'Внести изменения' %}</th>
      <th>{% translate 'Удаление' %}</th>
      <th>{% translate 'Дата создания' %}</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<hr>
    {% translate 'Если что-то не так, поробуйте'%} <a href={% url 'dashboard' %}>front-side</a>.
 <script>
      $(document).ready(function() {
          $('#table_db').DataTable();
      });
  </script>
{% endblock %}


