{% extends 'link/base.html' %}




{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>DASHBOARD</h1>

    {% if urls %}
        <p>Hi {{ user }}, its your links, click for details or changes:</p>
    {% else %}
        <p><a href={% url 'main' %}>Create</a> your first link</p>
    {% endif %}


    <br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Changing</th>
      <th>Deleting</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    {% for url in page_obj %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href={% url 'link' url_short=url.URL_short %}>{{ url.name }}</a></td>
      <td><a href={% url 'link_edit' url_short=url.URL_short %}>edit</a></td>
      <td><a href={% url 'link_delete' url_short=url.URL_short %}>delete</a></td>
      <td>{{ url.data }}</td>
    </tr>

     {% endfor %}

  </tbody>
</table>
{% include 'registration/pagination.html' %}
{% endblock %}


