{% extends 'link/base.html' %}
{% load i18n bootstrap5 %}


{% block title %}
{{ title }}
{% endblock %}



{% block content %}

<p>{% translate 'Вы уверены, что хотите удалить запись?' %} </p>
        {% buttons %}
        <div class="form-control">
        <div class="btn-group">

       <form action="#" method="post" >
          {% csrf_token %}

            <button type="submit" class="btn btn-primary">{% translate 'Подтвердить' %}</button></form><form action={% url 'dashboard' %}><button class="btn btn-primary">{% translate 'Нет' %}</button></form>

        </div></div>
        {% endbuttons %}

{% endblock content %}
