{% extends 'link/base.html' %}
{% load bootstrap5 %}


{% block title %}
{{ title }}
{% endblock %}



{% block content %}

<p>Are you sure you want to delete </p>
        {% buttons %}
        <div class="form-control">
        <div class="btn-group">

       <form action="#" method="post" >
          {% csrf_token %}

            <button type="submit" class="btn btn-primary">Confirm</button></form><form action={% url 'dashboard' %}><button class="btn btn-primary">No</button></form>

        </div></div>
        {% endbuttons %}

{% endblock content %}
