{##}
{##}
{##}
{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#  <div class="container-fluid">#}
{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{#    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">#}
{#      <ul class="navbar-nav">#}
{##}
{#        <li class="nav-item dropdown">#}
{##}
{#            <a href="/admin">admin</a>#}
{#            <a href="{% url 'main' %}">main</a>#}
{##}
{##}
{#          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{##}
{#            {{ user.username|default:'register | login' }}#}
{#          </a>#}
{#          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">#}
{#              {% if user.is_authenticated %}#}
{#            <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>#}
{#              {% else %}#}
{#            <li><a class="dropdown-item" href="{% url 'login' %}">login</a></li>#}
{#            <li><a class="dropdown-item" href="{% url 'register' %}">register</a></li>#}
{#              {% endif %}#}
{#          </ul>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">O</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main' %}">main</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username|default:'register | login' }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
              {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">login</a></li>
            <li><a class="dropdown-item" href="{% url 'register' %}">register</a></li>
              {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>