{% extends 'link/base.html' %}
{%  load i18n %}


{% block title %}
{{ title }}
{% endblock %}

{% block jsscript %}

{% endblock %}


{% block content %}
    <h1>{% translate 'Вы надодитесь на страничке -' %}{{ urls.name }}</h1>

    <br>

    {% translate 'Автор -' %}{{ urls.user }}

    <br>


    <table class="table table-hover" id="table_id">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>
  <tbody>

    {% for url in url_dict  %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ url|urlize|truncatechars_html:100 }}</td>
      <td></td>

    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}

